@using Liquid.Security
@using System.Security.Claims
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="links">
            <li>
                Hello @User.Identity.GetUserName()!
            </li>
            @{
                var principal = HttpContext.Current.User;
                if (principal != null)
                {
                    var identity = principal.Identity as ClaimsIdentity;
                    if (identity != null && identity.CanLogOff())
                    {
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }
                }
            }
        </ul>
    }
}
else
{
    <ul class="links">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
