@model Liquid.Components.DisplayComponents.LabelComponent
<div class="form-group">
    <span class="form-control-label">@Model.DisplayName:</span>
    <span class="form-control">@Model.Value</span>
</div>