@model Liquid.Components.EditComponents.TextComponent
<div class="form-group">
    <span class="form-control-label">@Model.DisplayName:</span>
    <span class="form-control">
        <input type="text" id="@Model.DisplayName" name="@Model.DisplayName" value="@Model.Value" />
    </span>
</div>