@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="page-content">
    <div class="product-info-wrapper">
        <div class="col">
            <div class="product-info">
                <div class="product-info-heading">@ViewBag.Title</div>
                <div class="product-info-content">
                    <p>Please check your email to reset your password.</p>
                </div>
            </div>
        </div>
    </div>
</div>

